*{
    padding: 0;
    margin: 0;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:  Yellow;
}
a{
    color: rgb(228, 224, 224);
    text-decoration: none;
    margin-left: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.nav1{
    padding-top: 10px;
}
.nav{
    background-color: rgb(31, 117, 167);
    width: 99.54%;
    height: 40px;
    border-style:solid;
    border-color: white;
}
.name{
    width: 100%;
    height: 350px;
    background-image: url(image1.jpg);
    background-repeat: no-repeat;
}
.name h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: black;
    margin-left: 40%;
    padding-top: 150px;
}
.products{
    width: 100%;
    height: 200px;
}
.text{
    height: 100%;
    width: 50%;
    background-color: lightblue;
    position: absolute;
    margin-left: 50%;
}
.image{
    height: 100%;
    width: 50%;
    background-color:lightblue;
    position: absolute;
}
.image img{
    width: 200px;
    height: 180px;
    margin-left: 400px;
    margin-top: 10px;
}
.products .text a h2{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin-left: 50px;
    margin-top: 60px;
}
.products .text a :hover{
text-decoration-line: underline;
color: rgb(60, 23, 163);

}
.footer{
    width: 100%;
    height: 100px;
    background-color: rgb(108, 114, 199);
   
}
.Copyright{
    margin-left: 250px;
    margin-top:10px ;
}
.Copyright a{
    margin-left: 250px;
    margin-top:10px ;
    color: black;
}
.Copyright :hover{
    text-decoration-line:underline ;
    color: rgb(255, 255, 255);
}
.footer p{
    color: black;
    font-weight: 500;
}






.product1{
    width: 300px;
    height: 300px;
    background-color: grey;
    position: absolute;
    border-radius: 5px;
    margin-left: 30px;
}
.product1 div img{
    width: 250px;
    border-radius: 10px;
    height: 200px;
}
.product1 div{
    margin-left: 20px;
}
.product2{
    width: 300px;
    height: 300px;
    background-color: grey;
    position: absolute;
    margin-left: 500px;
    border-radius: 5px;
}
.product2 div img{
    width: 250px;
    border-radius: 10px;
    height: 200px;
}
.product2 div{
    margin-left: 30px;
}
.product3{
    width: 300px;
    height: 300px;
    background-color: grey;
    position: absolute;
    margin-left: 1000px;
    border-radius: 5px;
}
.product3 div img{
    width: 250px;
    border-radius: 10px;
    height: 200px;
}
.product3 div{
    margin-left: 30px;
}
.product4{
    width: 300px;
    height: 300px;
    background-color: grey;
    position: absolute;
    margin-top: 350px;
    border-radius: 5px;
    margin-left: 30px;
}
.product4 div img{
    width: 250px;
    border-radius: 10px;
    height: 200px;
}
.product4 div{
    margin-left: 30px;
}
.product5{
    width: 300px;
    height: 300px;
    background-color: grey;
    position: absolute;
    margin-top: 350px;
    border-radius: 5px;
    margin-left: 500px;
}
.product5 div img{
    width: 250px;
    border-radius: 10px;
    height: 200px;
}
.product5 div{
    margin-left: 30px;
}
.product6{
    width: 300px;
    height: 300px;
    background-color: grey;
    position: absolute;
    margin-top: 350px;
    border-radius: 5px;
    margin-left: 1000px;
}
.product6 div img{
    width: 250px;
    border-radius: 10px;
    height: 200px;
}
.product6 div{
    margin-left: 30px;
}







.social .face a img{
    width: 180px;
    height: 150px;
    margin-left: 200px;
    margin-top: 10px;
    position: absolute;
    margin-left: 200px;
    z-index: 10;
}
.social .insta a img{
    width: 150px;
    height: 150px;
    margin-left: 500px;
    margin-top: 10px;
}
.contact{
    margin-left: 210px;
    margin-top: 100px;
    width: 70%;
    background-color: #5f2020;
    height: 100%;
    color: #ffffff;
    margin-bottom: 40px;
    border-radius: 10px;
}
.contact h3{
    margin-left: 410px;
    line-height: 30px;
}
.contact p.cellc{
    margin-left: 390px;
    line-height: 30px;
}
.contact h1{
    margin-left: 380px;
    line-height: 50px;
}
.contact p.locationc{
    margin-left: 270px;
    line-height: 30px;
}
.contact p.emailc{
    margin-left: 360px;
    line-height: 30px;
}